html {
  background-color: #C5FFFF;
  font-size: 62.5%;
}

.app {
  font-family: 'Handlee', cursive;
  margin: auto;
  width: 50%;
  text-align: center;
}

h1 {
  font-size: 4rem;
  margin-bottom: 1rem;
}

h2 {
  font-size: 2rem;
}

button {
  font-family: 'Handlee', cursive;
  font-size: 4rem;
  border-radius: 1rem;
  background-color: #C5FFFF;
  margin: 5rem 5rem 0 5rem;
  width: 18rem;
  height: 13rem;
  word-wrap: break-word;
  vertical-align: middle;
}

button:hover {
  background-color: #8EFFF8;
  cursor: pointer;
}

form {
  font-size: 2rem;
}

.plantContainer {
  width: 100%;
}

.seeds {
  width: 20rem;
  display: inline;
}

.seeds:hover {
  background-color: #8EFFF8;
  cursor: pointer;
}

.user {
  padding: 3rem 0 2rem 0;
}

.userLabel {
  padding-right: 1rem;
}

.weightAge {
  padding-top: 4rem;
}

.requirement {
  padding-top: 2rem;
}

.requirementLabel {
  padding-right: 1rem;
}

.weightInput {
  margin-right: 6rem;
}

.plantLabel {
  padding-right: 1rem;
}

.userLabel {
  padding-right: 1rem;
}

.loginForm {
  padding: 4rem;
}

.infoBar {
  display: flex;
  justify-content: space-between;
  /* border: solid; */
  text-align: left;
  font-size: 2rem;
}

.username {
  padding-left: 2rem;
}

.days {
  padding-right: 2rem;
}

.waterLabel {
  padding-right: 1rem;
}

.dailyQuota {
  font-size: 2rem;
  padding-top: 4rem;
}
