button {
  font-family: 'Handlee', cursive;
  font-size: 4rem;
  border-radius: 1rem;
  background-color: #C5FFFF;
  margin: 5rem 5rem 0 5rem;
  width: 18rem;
  height: 13rem;
  word-wrap: break-word;
  vertical-align: middle;
}

button:hover {
  background-color: #8EFFF8;
  cursor: pointer;
}

form {
  border: 3px solid black;
}

.plantContainer {
  width: 100%;
}

img {
  width: 20rem;
  display: inline;
}

img:hover {
  background-color: #8EFFF8;
  cursor: pointer;
}